{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
    <div class="">
        <!-- <div class="ui grid  account"> 
            <div class="eight wide computer sixteen wide mobile centered column center">
                <div class="form-container">
                    <h2 class="ui dividing header text-white">Create an account</h2>
        
                    {% set flashes = {
                        'error':   get_flashed_messages(category_filter=['form-error']),
                        'warning': get_flashed_messages(category_filter=['form-check-email']),
                        'info':    get_flashed_messages(category_filter=['form-info']),
                        'success': get_flashed_messages(category_filter=['form-success'])
                    } %}
        
                    {{ f.begin_form(form, flashes) }}
        
                    <div class="two fields">
                        {{ f.render_form_field(form.first_name) }}
                        {{ f.render_form_field(form.last_name) }}
                    </div>
        
                    {{ f.render_form_field(form.email) }}
        
                    <div class="two fields">
                        {{ f.render_form_field(form.password) }}
                        {{ f.render_form_field(form.password2) }}
                    </div>
        
                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}
        
                    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                        {{ f.render_form_field(field) }}
                    {% endfor %}
        
                    {{ f.end_form(form) }}
                </div>
            </div>
        </div> -->
    </div>

    <div class="container center-container">
        <div class="account">
            <div class="row mx-0">
                <div class="col-6 info">
                    <h3 class="brand my-5">Blinky</h3>
                    <h4 class="my-3 brand-info">Convert your twitter threads or spaces into a podcast.</h4>
                </div>
                <div class="col-6 form">
                    <div class="my-3">
                         {% set flashes = {
                                'error':   get_flashed_messages(category_filter=['form-error']),
                                'warning': get_flashed_messages(category_filter=['form-check-email']),
                                'info':    get_flashed_messages(category_filter=['form-info']),
                                'success': get_flashed_messages(category_filter=['form-success'])
                            } %}
                    </div>
                    <div class="m-3">
                        <div class="form-container mt-4">
                            <div class="d-block mt-5 ml-2">
                                <p class="small text-muted mb-2">Welcome! 👋</p>
                                <h1 class="bold form-header">Create your account</h1>
                               
                            </div>
                            <div class="mt-2 mx-4">
                               {{ f.begin_form(form, flashes) }}
                                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}
                                    <br>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 pl-0 pr-2">
                                            <label for="">First Name</label>
                                            {{ form.first_name(class_="form-control rounded-md", placeholder="First Name") }}
                                        </div>
                                        <div class="col-sm-6 px-0">
                                            <label for="">Last Name</label>
                                            {{ form.last_name(class_="form-control rounded-md", placeholder="Last Name") }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="email">Email</label>
                                        {{ form.email(class_="form-control rounded-md", placeholder="") }}
                                    </div>

                                    <div class="row mb-3">
                                        <label for="password">Password</label>
                                        {{ form.password(class_="form-control rounded-md") }}
                                    </div>
                                    <div class="row mb-3">
                                        <label for="password">Confirm Password</label>
                                        {{ form.password2(class_="form-control rounded-md") }}
                                    </div>
                                    
                                    <div class="row mb-2">
                                        <input type="checkbox" name="" id="" class="mr-2">
                                        <p class=""> I aggred to the
                                            <a href="{{ url_for('account.reset_password_request') }}" class="text-primary">Terms & Conditions??</a>
                                        </p>
                                    </div>

                                    <div class="row">
                                        <!-- {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                                            {{ f.render_form_field(field) }}
                                        {% endfor %} -->

                                        {{ f.render_form_field(form.submit, extra_classes="btn btn-blinky") }}
                                    </div>

                               {{ f.end_form(form) }}

                               <p class="text-center mt-4"> Already have account? <a href="{{ url_for('account.login') }}" class="text-primary">Login</a></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ check.password_check('password', 0) }}
    </div>

{% endblock %} 