.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env
venv
*.env 
*.md
*.yml
dist
docs
env*
readme_media
tests 
venv
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
.vscode/
.history/
*.mp3 
*.mp4
*.wav
*.gif