{% extends 'layouts/account.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="content-section">
        <div class="create-podcast ">
            <div class="col-8">
                <h4 class="converter">Create new audiograph</h4>
            </div>
            <div class="col-4">
                <a class="btn create-button" href="{{ url_for('account.create_audiograph') }}">Create</a>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="container">
           <div class="content-section-title bold">Audiograph</div>
      
           <div class="apps-card"> 
            <div class="app-card"> 
                <img alt="Example 3" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/above-board.png"> 
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>


            <div class="app-card"> 
                <img alt="Example 2" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/the-laravel-snippet.png">
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>
            <div class="app-card"> 
                <img alt="Example 3" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/above-board.png"> 
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>


            <div class="app-card"> 
                <img alt="Example 2" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/the-laravel-snippet.png">
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>
            
            <div class="app-card"> 
                <img alt="Example 3" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/above-board.png"> 
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>


            <div class="app-card"> 
                <img alt="Example 2" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/the-laravel-snippet.png">
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>
            <div class="app-card"> 
                <img alt="Example 3" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/above-board.png"> 
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>


            <div class="app-card"> 
                <img alt="Example 2" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/the-laravel-snippet.png">
                <div class="app-card-footer">
                    <h5>Podcast EP</h5>
                    <small class="card__subtext">1-0987689</small>
                </div>
            </div>

        </div>
       </div>
    </div>
    
</div>
 
<style>
    
</style>
{% endblock %}