{% extends 'layouts/account.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-section">
            <div class="content-section-title ">
                <h5 class="mb-4">Edit Podcast</h5>
                <hr>
             </div>
             <form action="">
                 <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Podcast Title</label>
                            <input type="text" class="form-control" value="{{ podcast.title }}">
                        </div>
                        <div class="form-group">
                            <label for="">Text</label>
                            <textarea name="" class="form-control" id="" cols="30" rows="12">{{podcast.content}}</textarea>
                        </div>  
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Voice">Language {{podcast.language}}</label>
                            {{form.language(class="form-control play-dropdown", selected=podcast.language) }}
                        </div>
                        <div class="form-group">
                            <label for="Voice">Voice</label> 
                            {{form.voice(class="form-control play-dropdown",  selected=podcast.speaker) }}
                        </div>
                        <div class="mt-5 mb-4">
                            {{ form.generate(class="content-button btn-block") }}
                        </div>
                        <div class="mt-5">
                            <div class="form-group">
                                <link rel="stylesheet" href="https://cdn.plyr.io/1.6.16/plyr.css">
                                <script src="https://cdn.plyr.io/1.6.16/plyr.js"></script>
                                
                                <div class="js-plyr">
                                  <audio controls="" crossorigin="">
                                    <source src="{{podcast_url}}" type="audio/mp3">
                                    <source src="{{podcast_url}}" type="audio/ogg" />
                                  </audio>
                                </div>
                                <script>
                                    plyr.setup(document.querySelectorAll('.js-plyr'), {});
                                </script>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-sm content-button">Save Changes</button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-md px-4 outline-blinky">Download </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-md px-4 outline-blinky">Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </form>
        </div>
     </div>
    
{% endblock %}