{% extends 'layouts/account.html' %}

{% block content %}

<div class="content-section">
    <div class="content-section-title">Favourite</div>
    <div class="apps-card">
        <div class="app-card"> 
            <img alt="Example 1" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/full-stack-radio.png">
            <div class="app-card-buttons">
                <!-- <button class="content-button status-button">Update</button> -->
                <div class="menu"></div>
            </div>
        </div>
        
        <div class="app-card"> 
            <img alt="Example 3" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/above-board.png"> 
            <div class="app-card-buttons">
                <!-- <button class="content-button status-button">Update</button> -->
                <div class="menu"></div>
            </div>
        </div>

        <div class="app-card"> 
            <img alt="Example 1" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/full-stack-radio.png">
            <div class="app-card-buttons">
                <div class="menu"></div>
            </div>
        </div>
        <div class="app-card"> 
            <img alt="Example 1" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/full-stack-radio.png">
            <div class="app-card-buttons">
                <!-- <button class="content-button status-button">Update</button> -->
                <div class="menu"></div>
            </div>
        </div>

        <div class="app-card"> 
            <img alt="Example 1" class="relative rounded-xl" src="https://d2rgmeg9ooiqj6.cloudfront.net/d6931912-45bf-4b68-bc93-0217a74bdd41/assets/landing/examples/full-stack-radio.png">
            <div class="app-card-buttons">
                <div class="menu"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}