{% extends 'layouts/account.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="content-section">
        <div class="create-podcast ">
            <div class="col-8">
                <h4 class="converter">Create new podcast</h4>
            </div>
            <div class="col-4">
                <a class="btn create-button" href="{{ url_for('account.create_audiograph') }}">Create</a>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="container">
           <div class="content-section-title bold">Podcast</div>
        <table class="table table-hover" style="font-weight: 400;">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Length</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts  %}
                    <tr>
                    <th scope="row">
                        <span class="mini-podcast">
                            <i class="fa fa-microphone" style="font-size: 12px;"></i>
                        </span>
                    </th>
                    <td>{{podcast.code}}</td>
                    <td>02:04</td>
                    <td>
                        <span class="bg-publish px-3 py-1 rounded-md text-capitalize text-sm">
                            Published
                        </span>
                    </td>
                    <td>01/06/2022</td>
                    <td class="row">
                        <button class="col-2" onclick="window.location.href = '{{ url_for('account.edit_podcast', code=podcast.code ) }}';">
                            <i class="fa fa-edit" style="color: #7749F8;"></i>
                        </button>
                        <button class="col-2">
                            <i class="fa fa-download" style="color: #56C456;"></i>
                        </button>
                        <button class="col-2">
                            <i class="fa fa-share" style="color: #0066FF;;"></i>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
                <!-- <tr>
                  <th scope="row">
                      <span class="mini-podcast">
                          <i class="fa fa-play" style="font-size: 12px;"></i>
                       </span>
                  </th>
                  <td>Podcast Episode 4</td>
                  <td>02:04</td> 
                  <td>
                      <span class="bg-publish px-3 py-1 rounded-md text-capitalize text-sm">
                          Saved
                      </span>
                  </td>
                  <td>01/06/2022</td>
                  <td class="row">
                      <button class="col-2">
                          <i class="fa fa-edit" style="color: #7749F8;"></i>
                      </button>
                      <button class="col-2">
                          <i class="fa fa-download" style="color: #56C456;"></i>
                      </button>
                      <button class="col-2">
                          <i class="fa fa-share" style="color: #0066FF;;"></i>
                      </button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                      <span class="mini-podcast">
                          <i class="fa fa-microphone" style="font-size: 12px;"></i>
                       </span>
                  </th>
                  <td>Podcast Episode 5</td>
                  <td>02:04</td>
                  <td>
                      <span class="bg-publish px-3 py-1 rounded-md text-capitalize text-sm">
                          Published
                      </span>
                  </td>
                  <td>01/06/2022</td>
                  <td class="row">
                      <button class="col-2">
                          <i class="fa fa-edit" style="color: #7749F8;"></i>
                      </button>
                      <button class="col-2">
                          <i class="fa fa-download" style="color: #56C456;"></i>
                      </button>
                      <button class="col-2">
                          <i class="fa fa-share" style="color: #0066FF;;"></i>
                      </button>
                  </td>
                </tr> -->
              
            </tbody>
        </table>
       </div>
    </div>
    
</div>
 
<style>
    
</style>
{% endblock %}