Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@vearse 
vearse
/
PlayPodcast
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
PlayPodcast/app/static/styles/app.css
@vearse
vearse Blinky
Latest commit 904af54 11 days ago
 History
 2 contributors
@vearse@Hiyorimi
118 lines (109 sloc)  2.22 KB

@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}
:root{
  --theme-bg-color: rgba(16 18 27 / 40%);
  --theme-white-color:#FFFFFF;
}

body {
  font: 16px Avenir, Verdana, sans-serif;
}

.brand{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #7749F8;
}
.brand-info{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-right: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
.center-container{
  justify-content: center;
    display: flex;
}
.account{
  width: 900px !important;
  height: 600px !important;
  margin-top: 100px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.account .row{
  height: 100%;
}
.account .info{
  background: linear-gradient(135deg, #43CBFF 0%, #7749F8 60.58%);
  border-radius: 15px 0px 0px 15px;
  padding: 30px;
}
.account .form{
  background: #FFFFFF;
  border-radius: 0px 15px 15px 0px;
}

.app .center{
  margin-top: 30px !important;
  color: white;
}
.text-white, .ui.form .field>label{
  color: white !important;
}
.form-container{
  margin: 20px 8px;
}
.form-container label{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.btn-blinky{
  width: 350px;
  height: 45px;
  background: #7749F8;
  border-radius: 50px;
  margin-top: 16px;
  color: #FFFFFF;
}
.form-header{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #333333;
}
